.content {
    display: flex;
    margin: 20px;
}

.content ul {
    list-style: none;
}

#mapImg {
    position: relative;
    z-index: 1;
}

#map {
    position: absolute;
    z-index: 2;
    opacity: 1.0;
    fill-opacity: 0;
}

#map .cursor {
    stroke: #6AFF56;
    stroke-width: 3px;
    fill-opacity: .4;
}

.draggable {
    /*width: 200px;
    height: 20px;
    text-align: center;
    background: white;*/
}

.area {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
}

.trainer {
    font-size: 20px;
    /*margin: 0px*/
    padding: 0;
    cursor: pointer;
}

.returnBtn {
    border: none;
    color: var(--accent-to);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.pokelist {
    display: flex;

    /*TODO minimized pokelist with pokeballs showing status*/
}

.pokelist {
    /*display: none;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*
.content {
    overflow: scroll;
    position: fixed;
    top: 80px;
    !*height: auto;*!
}
*/