.content {
    display: flex;
    margin: 20px;
}

.content ul {
    list-style: none;
}


#mapImg {
    position: relative;
    z-index: 1;
}

#map {
    position: absolute;
    z-index: 2;
    opacity: 1.0;
    fill-opacity: 0;
}

#map .cursor {
    stroke: #6AFF56;
    stroke-width: 3px;
    fill-opacity: .4;
}

.draggable {
    /*width: 200px;
    height: 20px;
    text-align: center;
    background: white;*/
}

.area {
    width: 200px;
    height: 20px;
    background: blueviolet;
    margin-bottom: 10px;
    padding: 10px;
}

/*
.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
    border-top-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-bottom-width: 0;
}*/

/*
.content {
    overflow: scroll;
    position: fixed;
    top: 80px;
    !*height: auto;*!
}
*/
